Flask==0.10.1
Flask-SQLAlchemy==1.0
Jinja2==2.7.2
Markdown==2.4
MarkupSafe==0.18
SQLAlchemy==0.9.2
Werkzeug==0.9.4
bleach==1.4
gunicorn==18.0
html5lib==0.999
itsdangerous==0.23
psycopg2==2.5.2
six==1.5.2
wsgiref==0.1.2